.login-button {
  margin: 0;
  padding: 0;
  border: none;
  height: 23px;
}

.login-button:hover {
  cursor: pointer;
}

.login-button:focus {
  outline: 0;
}

.login-form {
  height: 23px;
  width: 154px;
}
