.navigation-bar {
  height: 70px;
  width: 100%;
  background: linear-gradient(12deg, rgb(7, 2, 6), rgb(21, 1, 66) 91.71%);
  top: 0;
  position: fixed;
}

.navigation-bar-container {
  width: 65%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr) 1.3fr;
}
