.search-result {
  display: grid;
  grid-template-columns: 50px 1fr 1.2fr 1fr 1.5fr;
  padding: 10px;
}

.search-result:hover {
  background-color: rgba(198, 198, 198, 0.41);
  cursor: pointer;
}

.avatar {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}
