.tag-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  line-height: 30px;
  margin-bottom: 40px;
  padding: 20px;
  background-color: #e4e4e4;
  border-radius: 20px;
}

.show-games-button {
  background-color: rgba(66, 180, 62, 1);
  color: white;
  border-radius: 5px;
  border: none;
}

.show-games-button:enabled:hover {
  cursor: pointer;
}

.show-games-button:focus {
  outline: none;
}

.show-games-button:disabled {
  background-color: rgba(66, 180, 62, 0.5);
}
