.user-panel {
  grid-column: 2;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-avatar {
  clip-path: circle(49%);
}

.user-avatar:hover {
  cursor: pointer;
}
